html {
    scroll-behavior: smooth;
}

body {
    padding-left: 10%;
    padding-right: 15%;
    background-color: #f0f0f0;
}

.main {
    background-color: #ffffff;
    padding-top: 3%;

    border-left-width: 3px;
    border-left-color: #f0f0f0;
    border-left-style: solid;

    border-radius: 4px;
}

.main_inside {
    padding-left: 5%;
    padding-right: 5%;
}

header {
    background-color: #ffffff;

    justify-self:auto;
    width: 100%;
    top: 0;

    border-bottom: #d0d0d0;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    padding: 0%, 0%, 0%, 0%;
}

h1 {
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
    font-weight: 200;
    padding-right: 15%;
}

a {
    font-weight: 100;
    text-decoration: dotted;
    text-emphasis-color: #000;
}

strong {
    font-weight: 450;
}

em {
    font-weight: 150;
}

/* Propriétés des tableaux */

table, th, td {
    border: 1px none;
    border-collapse: collapse;
    padding: 8px;

    font-family: sans-serif;
}

table {
    border-left: 3px solid;
    border-left-color: #508dff;
}

th {
    background-color: #d0d0d0;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:nth-child(odd) {
    background-color: #f0f0f0;
}

/* Propriétés des listes */

ul {
    padding: 8px;
}

ul {
    padding-right: 35%;
}

li {

    list-style-position: inside;

    background-color: #edfff0;
    border-left: 3px #13b148 solid;

    font-family: sans-serif;
    font-size: 18px;

    padding: 12px;
}

li::marker {
    content: url(resources/square-check-big.svg);
    color: #13b148;
}